<style>
 h4 {margin: 25px 50px 25px 50px;}
 h1 {margin: 25px 50px 25px 50px;}
 p  {margin: 25px 50px 25px 50px;}
 h4 {text-decoration; underline;}
 h1 {background-color:pink;text-align:center;}
 h1 {font-family:Palatino Linotype,serif;}
 h1{color:#FFF0F5}
 h1{text-shadow: 2px 2px;}
 img {border-radius: 20px;}
 img {margin-left: 50px}
 body {background-color:#FFF0F5;}
 th {background-color:#FFF0F5;}
      font-family: Palatino, serif;color:white;
 td {background-color:#E6E6FA;color:white;}
 table {margin: 25px 50px 25px 50px}
 table {border-radius: 10px}
 p {font-family: Paltino, serif;}
 p {color: white;}
</style>